.container {
  width: 100%;
  margin: 0 auto;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 1.25rem;
  font-weight: 900;
}

p {
  /* width: fit-content;
  margin: 0 auto; */
  text-align: center;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 20px 0 7px;
}

input {
  padding: .5rem 1rem;
  border: 1px solid #333;
  border-radius: 10px;
}

button {
  width: 100%;
  margin-top: 40px;
  padding: 10px 20px;
  text-align: center;
  background-color: bisque;
  border-radius: 10px;
  transition: .3s;
}

button:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  transform: translateY(-2px);
}

dl {
  width: fit-content;
  margin: 20px auto;
}

dl div {
  display: flex;
  padding: 5px 0
}

dl div dt {
  padding: 5px 0.5rem;
}

dl div dd {
  width: 200px;
  padding: 5px 0.5rem;
  background-color: rgb(222, 240, 200);
}

ul {
  width: 500px;
  margin: 0 auto;
}

ul > li {
  display: flex;
  gap: 20px;
  line-height: 1.5;
  background-color: antiquewhite;
  border-bottom: 1px dotted #333;
}

ul > li > .item {
  padding: 1rem 0;
}

ul > li .item:nth-of-type(1), ul > li .item:nth-of-type(3) {
  flex-basis: 10%;
  text-align: right;
}

ul > li .item:nth-of-type(2) {
  flex-basis: 20%;
}

ul > li .item:nth-of-type(4) {
  flex-basis: 60%;
  padding-left: 1rem;
  background-color: rgb(219, 219, 219);
}