* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.col-6 {
  margin: 0 auto;
}

.write-button {
  display: flex;
  justify-content: right;
  margin-right: 10px;
}

.BBS-input-form {
  text-align: center;
}

.mb-3 {
  padding: 0 10px;
  text-align: left;
}

.submit {
  /* margin-bottom: 50px; */
}

.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: hsl(0, 0%, 90%);
  top: 8px;
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.user {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(37, 127, 237);
}