@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding: 0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 15px;
	color: #333;
}

#head_loginarea {
	margin: 0px auto;
	width: 1000px;
}

#container {
/*	margin: 0px auto;*/
	margin: 20px auto;
	width: 1120px;
}

/*-- 本文用背景設定　--*/
body {
/*	background: url(../images/img_header_back.png) repeat-x;	*/
}

/*-- ホーム用背景設定　--*/
#index_page {
/*	background: url(../images/img_header_bghome.png) repeat-x;	*/
}

/*--------------------------------------------------------
基本タグの初期化
--------------------------------------------------------*/
p {
	line-height: 2em;
}
em, sfftrdd {
	font-style: normal;
}
strong {
	font-weight: normal;
}
img {
	border: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
a:focus {
	outline: none;
}
table {
	border: solid 0px #fff;
	border-collapse: collapse; /*separate;*/
  }
  table td {
    height: 2.8em;
  }
  table td {
    background: #f4f4f4;
    border: solid 2px #f4f4f4;
/*    border-spacing:6px 0px;*/
  }
  table tr:nth-child(odd) td {
    background: #fff;
    border: solid 0px #fff;
/*    border-spacing:6px 0px;*/
  }
hr {
	border-width: 1px 0px 0px 0px; /* 太さ */
	border-style: solid; /* 線種 */
	border-color: #999; /* 線色 */
	height: 1px; /* 高さ */
	margin-bottom: 3px;
	margin-top: 3px;
	clear: both;
	line-height: 0;
}
input[type="button"],input[type="submit"],button[type="button"],button[type="submit"] {
  padding: 0px 5px;
}
.conte_block {
	display: block;
  width: 970px;
  border: solid 2px #999;
  padding: 10px 15px;
	margin: 30px 0px;
  clear: both;
}
.alignCenter {text-align: center;}
.f_left {float: left;}
.f_clear {clear: both;}
.f_center {
  display: block;
  margin: 0 auto;
}

/*--------------------------------------------------------
アイコンフォント
--------------------------------------------------------*/
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?7365259');
  src: url('../font/fontello.eot?7365259#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?7365259') format('woff2'),
       url('../font/fontello.woff?7365259') format('woff'),
       url('../font/fontello.ttf?7365259') format('truetype'),
       url('../font/fontello.svg?7365259#fontello') format('svg');
}

/*--------------------------------------------------------
装飾
--------------------------------------------------------*/
h1 {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
  font-size: 150%;
  margin: 1.5em 0em 1em;
}
  h1.ond{
    border-left: solid 5px #ffac59;/*左線*/
  }

.btn-shadow {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
	}
	.btn-shadow:active {
	  /*ボタンを押したとき*/
	  -webkit-transform: translateY(4px);
	  transform: translateY(4px);/*下に動く*/
	  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
	  border-bottom: none;
	}

.btn-simple {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
  margin: 0 0.5em;
	}
	.btn-simple:hover {
	  background: #00bcd4;
	  color: white;
	}

/*--------------------------------------------------------
入力フォーム
--------------------------------------------------------*/

input,select {
  padding: 0 0.1em 0;
  border-style: solid;
  border-width: 1.5px;
  border-color: #ccc;
}

.list_frame {
  display: block;
  width: 930px;
  border: solid 1px #999;
  padding: 5px 15px;
  clear: both;
}

br {
  clear: both;
}

li {
  float: left;
	line-height: 2em;
  padding-right: 20px;
  overflow: hidden;
}

/*--------------------------------------------------------
ト――プページへ戻る
--------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}
.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 2px #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow {
    height: 10px;
    width: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: translateY(20%) rotate(-45deg);
}